.main{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url('/resource/background');
    background-position: center;
    background-size: cover;
}

.logo{
    align-items: center;
}

.form-box{
	position: relative;
    width: 500px;
    height: 750px;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background-filter :blur;
    display: flex;
    justify-content: center;
}
.h2{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 2em;
    color: red;
    text-align: center;
}